<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="background-color: #f7f8fa;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center p-0" href="#">
                <img src="https://res.cloudinary.com/dbzme4gd3/image/upload/v1726207992/Logo_Final_hqkdmu.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLink="/home" aria-current="page" routerLinkActive="active"
                            (click)="collapseNavbar()">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLink="/projects" aria-current="page" routerLinkActive="active"
                            (click)="collapseNavbar()">Projects</a>
                    </li>
                </ul>
                <div class="d-flex phone me-3">
                    <button class="btn btn-success" routerLink="/add-new-project">Add new project</button>
                    <button class="btn btn-outline-success ms-3" routerLink="/login">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</div>
