<div class="container-fluid projects m-0 p-0 p-md-5">
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-bordered w-100">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Zone</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View Preview</th>
                </tr>
            </thead>
            <tbody>
                <tr class="zone-name" *ngFor="let project of Projects;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{project.ProjectId}}</td>
                    <td>{{project.ProjectName}}</td>
                    <td>{{project.Type}}</td>
                    <td>{{project.Category}}</td>
                    <td>{{project.Zone}}</td>
                    <td>
                        <button class="btn btn-md btn-primary d-flex justify-content-center align-items-center mx-auto" (click)="editProject(project.ProjectId)">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </mat-icon>
                            <span class="ms-2">Edit</span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-md d-flex justify-content-center align-items-center mx-auto">
                            <mat-icon><span class="material-symbols-outlined">
                                    delete
                                </span>
                            </mat-icon>
                            <span class="ms-2">Delete</span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-md d-flex justify-content-center align-items-center mx-auto"
                            routerLink="/layout-preview"><mat-icon>
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </mat-icon>
                            <span class="ms-2">See details</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>